body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
}

.rainbow-number {
    font-size: 96px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00A8FF, #0097E6, #0077B6, #005C99, #003E6B, #001845);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s infinite linear;
    user-select: none;
}

.copy-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: opacity .12s ease-in-out;
    border-radius: 5px;
}
.copy-button:hover {
    opacity: 80%;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}
