
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    text-align: center;
}

.rainbow-number {
    font-size: 96px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00A8FF, #0097E6, #0077B6, #005C99, #003E6B, #001845);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s infinite linear;
}

.copy-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}
